In [15]:
import pyarrow.parquet as pq
import pandas as pd
import numpy as np

In [22]:
trips = pd.read_parquet('yellow_tripdata_2014-01.parquet')
reqs = trips[['tpep_pickup_datetime', 'passenger_count', 'PULocationID', 'DOLocationID']]
reqs

         tpep_pickup_datetime  passenger_count  PULocationID  DOLocationID
0         2014-01-01 00:02:00                6           146           146
1         2014-01-01 00:06:00                5           146           146
2         2014-01-01 00:10:00                5           146           146
3         2014-01-01 00:54:00                5           264           264
4         2014-01-01 00:29:18                2           229           262
...                       ...              ...           ...           ...
13782512  2014-01-31 23:22:15                1           148           112
13782513  2014-01-31 23:43:13                1           255           249
13782514  2014-01-31 23:04:12                1           236           151
13782515  2014-01-31 23:19:58                1           143           163
13782516  2014-01-31 23:33:41                3           161            68

[13782517 rows x 4 columns]

In [23]:
np.max(reqs['DOLocationID'])

265